
<footer>
    <div class="copyright-text">
        <p>Copyright &copy; @DateTime.Now.Year All Rights Reserved</p>
    </div>
    <div class="my-name">
        Made with <span class="lds-heart">&#10084;&#65039;</span> by &nbsp;
        <a href="https://linktr.ee/pradeepradyumna"
           target="_blank">
            Pradeep Pradyumna
        </a>
    </div>
    @* <div>
        <SocialShare></SocialShare>
        </div>*@
</footer>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 1.5rem;
        height: 2rem;
        background-color: rgb(14, 176, 230);
        color: white;
        text-align: center;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .my-name {
        width: 50%;
        float: right;
        padding: 20px;
        right: auto;
        font-weight: bold;
    }

    .copyright-text {
        width: 50%;
        float: left;
        padding: 20px;
        left: auto;
        font-weight: bold;
        padding-bottom: 0.5px;
    }

    .lds-heart {
        display: inline-block;
        position: relative;
        -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        -ms-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    @@keyframes lds-heart {
        0% {
            transform: scale(0.95);
        }

        5% {
            transform: scale(1.1);
        }

        39% {
            transform: scale(0.85);
        }

        45% {
            transform: scale(1);
        }

        60% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(0.9);
        }
    }

    @@-moz-keyframes lds-heart {
        0% {
            transform: scale(0.95);
        }

        5% {
            transform: scale(1.1);
        }

        39% {
            transform: scale(0.85);
        }

        45% {
            transform: scale(1);
        }

        60% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(0.9);
        }
    }

        @@-webkit-keyframes lds-heart {
        0% {
            transform: scale(0.95);
        }

        5% {
            transform: scale(1.1);
        }

        39% {
            transform: scale(0.85);
        }

        45% {
            transform: scale(1);
        }

        60% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(0.9);
        }
    }

        @@-ms-keyframes lds-heart {
        0% {
            transform: scale(0.95);
        }

        5% {
            transform: scale(1.1);
        }

        39% {
            transform: scale(0.85);
        }

        45% {
            transform: scale(1);
        }

        60% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(0.9);
        }
    }

</style>

@code {

}
